<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %-50c{1.} - %msg %n"/>
    </Console>
    <file name="File" fileName="Study-Mapp.log">
    	<PatternLayout pattern="%d [%t] %-5level %-50c{1.} - %msg %n"/>
    </file>
  </Appenders>
  <Loggers>
    <Logger name="com.studymapp.project" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>
</Configuration>