<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Teacher Availability</title>
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>	
	<header>
	<div class="fixed-header">
		<nav>
			<ul>
			<li><a th:href="@{/index}">Home</a></li>
			<li><a th:href="@{/availability}">Availability</a></li>
			<li><a th:href="@{/booking}">Booking</a></li>
			<li><a th:href="@{/info}">Information</a></li>
			<li><a th:href="@{/contact}">Contact Us</a></li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="firstName" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>		
				</a>
				<ul class="dropdown-menu extend logout">
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
			</ul>
		</nav>
	</div>
	</header>	
	<h4 style="float:right;padding-top:180px;padding-right:15px;"><a th:href="@{/admin}">Back to Admin Panel</a></h4>
	<div class="main-body">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" data-whatever="@mdo">Add Availability</button>
	<table class="table table-hover">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">ID</th>
	      <th scope="col">Start Time</th>
	      <th scope="col">End Time</th>
	      <th scope="col">Level</th>
	      <th scope="col">Subject</th>
	      <th scope="col">Delivery</th>
	      <th scope="col">Actions</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="availability:${availabilities}">
	      	<td th:text="${availability.id}"></td>
			<td th:text="${availability.startTime}"></td>
			<td th:text="${availability.endTime}"></td>
			<td th:text="${availability.level}"></td>
			<td th:text="${availability.subject}"></td>
			<td th:text="${availability.delivery}"></td>
			<td>
			<div class="btn-group">				
				<a th:href="@{/availability/delete/(id=${availability.id})}" class="btn btn-danger" id="deleteButton">Delete</a>
			</div>
			</td>
	    </tr>
	</tbody>	
	</table>
	</div>
		
	<!-- Add Teacher Modal Pop-Up Form -->
	
	<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Add Availability</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/availability/addNew}" method="post">
	          <div class="form-group">
	            <label for="recipient-name">Start Time</label>
	            <select type="number" name="startTime" required>
	            	<option value="5">5 PM</option>
	            	<option value="6">6 PM</option>
	            	<option value="7">7 PM</option>
	            	<option value="8">8 PM</option>
	            	<option value="9">9 PM</option>
	            </select>	
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">End Time</label>
	             <select type="number" name="endTime" required>
	             	<option value="6">6 PM</option>
	            	<option value="7">7 PM</option>
	            	<option value="8">8 PM</option>
	            	<option value="9">9 PM</option>
	            	<option value="10">10 PM</option>
	            </select>	
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Level</label>
	            <input type="text" class="form-control" id="recipient-name" name="level" required pattern="[A-Za-z ]+">
	          </div>
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Subject</label>
	            <input type="text" class="form-control" id="recipient-name" name="subject" required pattern="[A-Za-z ]+"> 
	          </div>	 
	          <div class="form-group">
	            <label for="recipient-name" class="col-form-label">Delivery</label>
	            <input type="text" class="form-control" id="recipient-name" name="Delivery" required pattern="[A-Za-z -]+">
	          </div>
	          <div class="form-group">
	         	 <button type="submit" class="btn btn-primary">Submit</button>	            
	          </div>       
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div>
	  </div>
	</div>
	
	<!--Edit Teacher Modal Pop-Up Form  
	
	<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLabel">Update Availability</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form th:action="@{/availability/update}" method="GET">
		        <div class="form-group">
		            <label for="recipient-name" class="col-form-label">ID</label>
		            <input type="text" class="form-control" id="idEdit" name="id" readonly>
		         </div>
		         <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Start Time</label>
		            <input type="text" class="form-control" id="startTimeEdit" name="firstName">
		         </div>
		         <div class="form-group">
		            <label for="recipient-name" class="col-form-label">End Time</label>
		            <input type="text" class="form-control" id="endTimeEdit" name="lastName">
		         </div>
		         <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Level</label>
		            <input type="text" class="form-control" id="recipient-name" name="level">
		          </div>
		         <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Subject</label>
		            <input type="text" class="form-control" id="subjectEdit" name="license">
		         </div>
		         <div class="form-group">
		            <label for="recipient-name" class="col-form-label">Delivery</label>
		            <input type="text" class="form-control" id="recipient-name" name="delivery">
		          </div>	  
		         <div class="form-group">
	         	 <button type="submit" class="btn btn-primary">Submit</button>	            
	          </div>       
	        </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div>
	  </div>
	</div>
	-->
	
	<!-- Delete Modal Form -->
	
	<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Confirm Delete</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to delete this record?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
	        <a class="btn btn-primary" id="confirmDeleteButton" href="">Delete</a>
	      </div>
	    </div>
	  </div>
	</div>
	
	<!-- Add Bootstrap Script -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	<!-- Add JavaScript link -->
	
	<script th:src="@{js/availability.js}"></script>
</body>
</html>







