<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Show Availability</title>
<link th:href="@{css/style.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>	
	<header>
	<div class="fixed-header">
		<nav>
			<ul>
			<li><a th:href="@{/index}">Home</a></li>
			<li><a th:href="@{/availability}">Availability</a></li>
			<li><a th:href="@{/account}">Account</a></li>
			<li class="dropdown">
				<a data-toggle="dropdown" class="dropdown-toggle" href="#">
					<span class="firstName" th:text="${#authentication.getPrincipal().getUsername()}">Guest</span>		
				</a>
				<ul class="dropdown-menu extend logout">
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</li>
			</ul>
		</nav>
	</div>
	</header>	
	<div class="main-body">
	<h4 style="text-align:center;">List of Grind Sessions Currently Available</a></h4>
	</br>
	<table class="table table-hover">
	  <thead class="thead-light">
	    <tr>
	      <th scope="col">Start Time</th>
	      <th scope="col">End Time</th>
	      <th scope="col">Level</th>
	      <th scope="col">Subject</th>
	      <th scope="col">Delivery</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr th:each="availability:${availabilities}">
			<td th:text="${availability.startTime}"></td>
			<td th:text="${availability.endTime}"></td>
			<td th:text="${availability.level}"></td>
			<td th:text="${availability.subject}"></td>
			<td th:text="${availability.delivery}"></td>
	    </tr>
	</tbody>	
	</table>
	</div>
		
	<!-- Add Bootstrap Script -->
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>







